{% extends 'page/layout.html.twig' %}

{% block title %}Index Page{% endblock %}

{% block body %}
    <div id="about-car">
        <div class="lef-side">
            <div class="link-back">
                <a href="{{ path('page_index') }}">< Zpet na vypis vozu | &nbsp;</a>
                <p>CT 200h HYBRID</p>
            </div>
            <div class="car-photos">
                <img id="preview-photo" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                <div class="smallest-photo-car">
                    <div class="container-level-photo">
                        <img class="preview-photo-small" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                        <img class="preview-photo-small" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                        <img class="preview-photo-small" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                        <img class="preview-photo-small" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                    </div>
                    <div class="container-level-photo">
                        <img class="preview-photo-small" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                        <img class="preview-photo-small" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                        <img class="preview-photo-small" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                        <img class="preview-photo-small" src="{{ asset('assets/page/img/lexus-car-crop.jpg') }}" alt="lexus car">
                    </div>
                </div>
            </div>
            <div class="mark-car">
                <p>Poznámka: <strong>Komise 815011</strong></p>
            </div>
            <div class="social-car">
                <h2>Sdílejte tento vůz:</h2>
                <div class="social-networks">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="far fa-envelope"></i>
                </div>
                <a href="/">Zkopírovat odkaz na vůz</a>
            </div>
            <div class="why-autoeder">
                <h2>Proč vozy od AutoEder?</h2>
                <ul>
                    <li>možnost výměny stávajícího vozu za nový</li>
                    <li>možnost výměny stávajícího vozu za nový</li>
                    <li>vaše mimořádná spokojenost je naší mimořádnou prioritou</li>
                </ul>
            </div>
            <div class="feedback-user-car">
                <h2>Reference našich zákazníků:</h2>
                <p class="comment-user">
                    „Byl jsem velmi příjemně potěšen přístupem slečny prodejkyně.“
                </p>
                <p class="user">Jaroslav K., Klatovy</p>
            </div>
        </div>
        <div class="right-side">
            <div class="container-right-side">
                <p class="detail-manufakrura-car">Lexus</p>
                <h1 class="detail-model-car">CT 200h HYBRID</h1>
                <div class="detail-price">
                    <p>Vůz je dostupný hned</p>
                    <p>228 000 Kč</p>
                </div>
                <div class="detail-discount">
                    <p>(možný odpočet DPH)</p>
                    <p>Původní cena: 277 600 Kč</p>
                    <p>Ušetříte až 35 700 Kč</p>
                </div>
                <div class="question-about-car">
                    <a href="/">Mám zájem o vůz</a>
                </div>
                <div class="complect">
                    <div class="complect-detail">
                        <p>Speciální výbava:</p>
                        <p>Active</p>
                    </div>
                    <div class="complect-detail">
                        <p>Stav:</p>
                        <p>Perfektní</p>
                    </div>
                    <div class="complect-detail">
                        <p>Barva:</p>
                        <p>Šedá</p>
                    </div>
                    <div class="complect-detail">
                        <p>Stav tachometru:</p>
                        <p>5 km</p>
                    </div>
                    <div class="complect-detail">
                        <p>Palivo:</p>
                        <p>Benzín</p>
                    </div>
                    <div class="complect-detail">
                        <p>Převodovka:</p>
                        <p>5 st. Manuální</p>
                    </div>
                    <div class="complect-detail">
                        <p>Karoserie:</p>
                        <p>Hatchback</p>
                    </div>
                    <div class="complect-detail">
                        <p>Motor:</p>
                        <p>1.0 MPI 44kW</p>
                    </div>
                    <div class="complect-detail">
                        <p>Výkon:</p>
                        <p>44 kW</p>
                    </div>
                    <div class="complect-detail">
                        <p>Objem:</p>
                        <p>999 ccm</p>
                    </div>
                    <div class="complect-detail">
                        <p>Počet sedadel:</p>
                        <p>5 sedadel</p>
                    </div>
                    <div class="complect-detail">
                        <p>Počet dveří:</p>
                        <p>5 dveří</p>
                    </div>
                </div>
                <div class="complect-choise">
                    <h2>Ze základní výbavy vybíráme:</h2>
                    <ul>
                        <li>Deaktivace airbagu spolujezdce</li>
                        <li>Airbag řidiče a spolujezdce</li>
                        <li>Protiprokluzový systém kol (ASR)</li>
                        <li>El. přední okna</li>
                        <li>MSR - regulace brzdného momentu</li>
                        <li>Originální autorádio</li>
                        <li>protiprokluzový systém kol (ASR)</li>
                        <li>Senzor světel</li>
                        <li>Stabilizace podvozku (ESP)</li>
                    </ul>
                </div>
                <div class="complect-in-price">
                    <h2>V ceně vozu je dále tato výbava:</h2>
                    <ul>
                        <li>Rezervní kolo ocelové (plnohodnotné)</li>
                        <li>Mlhové přední světlomety</li>
                        <li>Mobilita PLUS</li>
                    </ul>
                </div>
                <div class="standart-complect">
                    <h2>Standardní výbava:</h2>
                    <p class="standart-complect-name">Exterier:</p>
                    <p class="standart-complect-text">
                        Ocelová kola DENTRO 15”, projektorové hlavní světlomety
                        H7 + LED denní svícení, vnější zpětná zrcátka se směrovkami a kliky v černé barvě, lesklá černá dekorační fólie na B-sloupku, plastový kryt motoru (kromě 1.0 MPI 44kW), chromovaný rámeček grilu přední masky, střešní nosič
                        černý (combi).
                    </p>
                    <p class="standart-complect-name">Interier:</p>
                    <p class="standart-complect-text">
                        Interiér Active černá, 3-ramenný volant PUR, nastavení
                        ve 2 osách, potah sedadel - látka, hlavice řadící páky PUR.
                    </p>
                    <p class="standart-complect-name">Bezpečnost:</p>
                    <p class="standart-complect-text">
                        XDS+, EBP, RBS, DSR, TSA a multikolizní brzda (MKB),
                        HHC pro DSG, airbagy řidiče, spolujezdce (s deaktivací), airbagy boční přední, airbagy hlavové, rozšířené opatření pro ochranu chodců, 2+3 signalizace nezapnutého bezpečnostního pásu, 2+3 tříbodových bezpečnostních pásů, 2+3 hlavové opěrky, ISOFIX pro 2 dětské sedačky vzadu, zadní mlhový světlomet, 3. brzdové světlo, nastavitelný sklon světlometů z místa řidiče, kotoučové brzdy přední,
                        Easy Light Assist.
                    </p>
                    <p class="standart-complect-name">Zabezpečení:</p>
                    <p class="standart-complect-text">
                        Centrální zamykání s DO, bez SAFE, 2 sklopné klíče, klapka palivové nádrže PUSH-PUSH s elektr. odemknutím,
                        el.-magnetické otevírání zavazadlového prostor.
                    </p>
                </div>
                <div class="order-test-drive-button">
                    <a class="order-test-drive" href="/">Objednat testovací jízdu tímto vozem</a>
                </div>
                <div class="detail-contacts">
                    <h2>Kontakty:</h2>
                    <p class="name-sale">Jan Exner</p>
                    <p class="position-sale">vedoucí prodeje</p>
                    <p class="sale-contact"><strong>tel:</strong> +420 371 005 253</p>
                    <p class="sale-contact"><strong>mob:</strong> +420 730 546 352</p>
                    <p class="sale-contact last-sale-contact"><strong>e-mail:</strong> jan.exner@autoeder.cz</p>
                    <p class="name-sale">Marika Jasná</p>
                    <p class="position-sale">vedoucí prodeje</p>
                    <p class="sale-contact"><strong>tel:</strong> +420 371 00 254</p>
                    <p class="sale-contact"><strong>mob:</strong> +420 730 546 353</p>
                    <p class="sale-contact last-sale-contact"><strong>e-mail:</strong> marika.jasna@autoeder.cz</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}