{% extends 'page/layout.html.twig' %}

{% block title %}Index Page{% endblock %}

{% block body %}
    <div class="container main-container">
        <header class="margin-bottom-75">
            <img src="{{ asset('assets/page/img/skladove-vozy.png') }}" alt="skladove vozy">
        </header>

        <section id="manufacture" class="text-center margin-bottom-75">
            <h1 class="margin-bottom-30">Skladové vozy</h1>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <a class="model-link" href="{{ path('page_index') }}">
                        <img src="{{ asset('assets/page/img/lexus-logo.png') }}" alt="lexus logo" class="img-fluid">
                        <p>Vozy Toyota (165 vozů)</p>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="model-link" href="{{ path('page_index') }}">
                        <img src="{{ asset('assets/page/img/lexus-logo.png') }}" alt="lexus logo" class="img-fluid">
                        <p>Vozy Lexus (265 vozů)</p>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="model-link" href="{{ path('page_index') }}">
                        <img src="{{ asset('assets/page/img/lexus-logo.png') }}" alt="lexus logo" class="img-fluid">
                        <p>Ostatní vozy (1 265 vozů)</p>
                    </a>
                </div>
            </div>
        </section>

        <form id="search" class="margin-bottom-75">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <select class="form-control searching-selector select2">
                            <option>Značka</option>
                            <option>Toyota</option>
                            <option>Lexus</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <select class="form-control searching-selector">
                            <option>Model</option>
                            <option>CT 200h HYBRID</option>
                            <option>Lexus GS F</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="text-right" style="margin-bottom: 1rem; cursor: pointer;">
                        <div id="search-more-params" @click="expanded = !expanded" style="line-height: 38px">
                            Rozšířené vyhledávání <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row expanded-search" :class="{'visible': expanded}">
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <select class="form-control searching-selector">
                            <option>Palivo</option>
                            <option>Benzin</option>
                            <option>Disel</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control searching-selector">
                            <option>Rok uvedení do provozu</option>
                            <option>2020</option>
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <select class="form-control searching-selector">
                            <option>Karosie</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control searching-selector">
                            <option>Počet dveří</option>
                            <option>5</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <select class="form-control searching-selector">
                            <option>Objem motoru</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control searching-selector">
                            <option>Barva</option>
                            <option>Aqua</option>
                            <option>Bronzová</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary mb-2 submit-search">Vyhledat vozy</button>
                </div>
            </div>
        </form>

        <section id="items">
            <div class="row">
                {% for i in 1..12 %}
                    <div class="col-12 col-sm-6 col col-md-4">
                        <img src="{{ asset('assets/page/img/lexus-car.jpg') }}" alt="lexus" class="img-fluid">
                        <div class="about-car">
                            <p class="car-model">CT 200h HYBRID</p>
                            <p class="car-price">285 000 Kč</p>
                        </div>
                        <div class="car-manufaktura">
                            <p>Lexus</p>
                        </div>
                        <div class="link-car">
                            <a href="{{ path('page_detail_car') }}">Detail vozu</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}